
// You need to set the variables below somewhere in your project

//$griddo-float: ;
//$griddo-float-opposite: ;
//$griddo-gutter: ;
//$griddo-columns: ;
//$griddo-row-width: ;


@mixin griddo-row {
  @include griddo-clearfix;
  list-style: none;
  margin: 0 auto;
  max-width: 100%;
  width: $griddo-row-width;
}

@mixin griddo-row-inner {
  @include griddo-clearfix;
  list-style: none;
  margin: 0 (-($griddo-gutter/2));
  max-width: none;
  width: auto;
}

@mixin griddo-wrapper {
  @include griddo-row;
  padding: 0 ($griddo-gutter/2);
}

@mixin griddo-columns($columns) {
  float: $griddo-float;
  list-style: none;
  margin: 0;
  min-height: 1px;
  padding: 0 ($griddo-gutter/2);
  position: relative;
  @include griddo-width($columns);
}

@mixin griddo-width($columns) {
  width: griddo-calc($columns, $griddo-columns);
}

@mixin griddo-columns-centered {
  float: none;
  margin: 0 auto;
}

@mixin griddo-columns-last {
  float: $griddo-float;
}

@mixin griddo-offset($offset:1) {
  margin-left: griddo-calc($offset, $griddo-columns);
}

@mixin griddo-push($push:1) {
  left: griddo-calc($push, $griddo-columns);
}

@mixin griddo-pull($push:1) {
  right: griddo-calc($push, $griddo-columns);
}

@mixin griddo-clearfix {
  *zoom:1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@function griddo-calc($columns, $griddo-colums) {
  @return percentage(($columns / $griddo-columns));
}
