////
// Set variables unless they aren't already assigned
////
$griddo-dir: ltr !default;
$griddo-float: left !default;
$griddo-float-opposite: right !default; // @todo: Need this?
$griddo-gutter: 1.875em !default;
$griddo-columns: 12 !default;
$griddo-row-width: 62.5em !default;

////
// Intializes a row.
////
@mixin griddo-row($behavior: false) {
  @include box-sizing(border-box);
  @include clearfix;
  @include griddo-direction;

  list-style: none;
  padding: 0;

  @if $behavior == nest {
    margin: 0 (-($griddo-gutter / 2));
    max-width: none;
    width: auto;
  }
  @else if $behavior == collapse {
    width: 100%;
    margin: 0;
    max-width: $griddo-row-width;
  }
  @else if $behavior == nest-collapse {
    width: auto;
    margin: 0;
    max-width: none;
  }
  @else {
    margin: 0 auto;
    max-width: $griddo-row-width;
    width: 100%;
  }
}

////
// Render a column.
////
@mixin griddo-column($dividend: false, $divisor: $griddo-columns) {
  float: $griddo-float;
  list-style: none;
  margin: 0;
  min-height: 1px;
  padding: 0 ($griddo-gutter / 2);
  position: relative;
  @if $dividend {
    @include griddo-width($dividend, $divisor);
  }
}

////
// Center a column or item.
////
@mixin griddo-centered {
  float: none;
  margin: 0 auto;
}

////
// @todo: Do we need this?
////
@mixin griddo-last {
  float: $griddo-float;
}

////
// Offset a column or item.
////
@mixin griddo-offset($dividend: 1, $divisor: $griddo-columns) {
  margin-left: griddo-calc($dividend, $divisor);
}

////
// Push a column or item.
////
@mixin griddo-push($dividend: 1, $divisor: $griddo-columns) {
  left: griddo-calc($dividend, $divisor);
}

////
// Pull a column or item.
////
@mixin griddo-pull($dividend: 1, $divisor: $griddo-columns) {
  right: griddo-calc($dividend, $divisor);
}

////
// Direction setup.
////
@mixin griddo-direction {
  direction: $griddo-dir;
  @if $griddo-dir == ltr {
    text-align: left;
  } else {
    text-align: right;
  }
}

////
// Return calculated width.
////
@mixin griddo-width($dividend, $divisor: $griddo-columns) {
  width: griddo-calc($dividend, $divisor);
}

////
// Utility function to use on a container that doesn't contain any columns or
// items.
////
@mixin griddo-container($behavior: false) {
  @include griddo-row($behavior);
  padding: 0 ($griddo-gutter / 2);
}

////
// Calculate percentage.
////
@function griddo-calc($dividend, $divisor) {
  @return percentage(($dividend / $divisor));
}
