@import url(../vendor/normalize.css);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #fff;
  color: #222;
  font: normal 100%/1.5 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1em;
  line-height: 1.6;
  padding: 0 0 80px;
}

img {
  height: auto;
  max-width: 100%;
}

.example {
  *zoom: 1;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%;
  padding: 0 0.9375em;
  padding-top: 80px;
}
.example:before, .example:after {
  content: " ";
  display: table;
}
.example:after {
  clear: both;
}

/**
 * Visual helpers for this demo.
 */
.column-helper, .column,
.content,
.sidebar,
.layout-2 article {
  background: #eee;
  border: 1px solid #ddd;
}

.row {
  *zoom: 1;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse .column {
  padding-left: 0;
  padding-right: 0;
}
.row .row {
  *zoom: 1;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0 -0.9375em;
  max-width: none;
  width: auto;
}
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  *zoom: 1;
  clear: both;
  list-style: none;
  padding: 0;
  width: auto;
  margin: 0;
  max-width: none;
}
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}

.column {
  float: left;
  list-style: none;
  margin: 0;
  min-height: 1px;
  padding: 0 0.9375em;
  position: relative;
}

.column.centered {
  float: none;
  margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: left;
}

.column-1 {
  width: 8.33333%;
}

.column-2 {
  width: 16.66667%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.33333%;
}

.column-5 {
  width: 41.66667%;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.33333%;
}

.column-8 {
  width: 66.66667%;
}

.column-9 {
  width: 75%;
}

.column-10 {
  width: 83.33333%;
}

.column-11 {
  width: 91.66667%;
}

.column-12 {
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.push-1 {
  left: 8.33333%;
  right: auto;
}

.pull-1 {
  right: 8.33333%;
  left: auto;
}

.offset-2 {
  margin-left: 16.66667%;
}

.push-2 {
  left: 16.66667%;
  right: auto;
}

.pull-2 {
  right: 16.66667%;
  left: auto;
}

.offset-3 {
  margin-left: 25%;
}

.push-3 {
  left: 25%;
  right: auto;
}

.pull-3 {
  right: 25%;
  left: auto;
}

.offset-4 {
  margin-left: 33.33333%;
}

.push-4 {
  left: 33.33333%;
  right: auto;
}

.pull-4 {
  right: 33.33333%;
  left: auto;
}

.offset-5 {
  margin-left: 41.66667%;
}

.push-5 {
  left: 41.66667%;
  right: auto;
}

.pull-5 {
  right: 41.66667%;
  left: auto;
}

.offset-6 {
  margin-left: 50%;
}

.push-6 {
  left: 50%;
  right: auto;
}

.pull-6 {
  right: 50%;
  left: auto;
}

.offset-7 {
  margin-left: 58.33333%;
}

.push-7 {
  left: 58.33333%;
  right: auto;
}

.pull-7 {
  right: 58.33333%;
  left: auto;
}

.offset-8 {
  margin-left: 66.66667%;
}

.push-8 {
  left: 66.66667%;
  right: auto;
}

.pull-8 {
  right: 66.66667%;
  left: auto;
}

.offset-9 {
  margin-left: 75%;
}

.push-9 {
  left: 75%;
  right: auto;
}

.pull-9 {
  right: 75%;
  left: auto;
}

.offset-10 {
  margin-left: 83.33333%;
}

.push-10 {
  left: 83.33333%;
  right: auto;
}

.pull-10 {
  right: 83.33333%;
  left: auto;
}

.offset-11 {
  margin-left: 91.66667%;
}

.push-11 {
  left: 91.66667%;
  right: auto;
}

.pull-11 {
  right: 91.66667%;
  left: auto;
}

.layout-1 {
  *zoom: 1;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%;
}
.layout-1:before, .layout-1:after {
  content: " ";
  display: table;
}
.layout-1:after {
  clear: both;
}
.layout-1 .content,
.layout-1 .sidebar {
  float: left;
  list-style: none;
  margin: 0;
  min-height: 1px;
  padding: 0 0.9375em;
  position: relative;
}
@media (min-width: 48em) {
  .layout-1 .content {
    width: 66.66667%;
  }
  .layout-1 .sidebar {
    width: 33.33333%;
    float: right;
  }
}

.layout-2 {
  *zoom: 1;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%;
}
.layout-2:before, .layout-2:after {
  content: " ";
  display: table;
}
.layout-2:after {
  clear: both;
}
.layout-2 article {
  float: left;
  list-style: none;
  margin: 0;
  min-height: 1px;
  padding: 0 0.9375em;
  position: relative;
  width: 50%;
}
@media (min-width: 34em) {
  .layout-2 article {
    width: 33.33333%;
  }
}
@media (min-width: 48em) {
  .layout-2 article {
    width: 25%;
  }
}
