$breakpoint-smartphone: 34em; // 480px
$breakpoint-tablet: 48em; // 768px
$breakpoint-laptop: 62em; // 992px
$breakpoint-desktop: 75em; // 1200px

@mixin respond-to($point) {
  // Contexts
  @if $point == smartphone {
    @media (min-width: $breakpoint-smartphone) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: $breakpoint-tablet) { @content; }
  }
  @else if $point == laptop {
    @media (min-width: $breakpoint-laptop) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: $breakpoint-desktop)  { @content; }
  }
}
