*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  background: #fff;
  color: #222;
  font: normal 100%/1.5 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1em;
  line-height: 1.6;
  padding: 0 0 80px;
}

img {
  height: auto;
  max-width: 100%;
}

.example {
  @include griddo-container;
  padding-top: 80px;
}

/**
 * Visual helpers for this demo.
 */
.column-helper {
  background: #eee;
  border: 1px solid #ddd;
}

.column,
.content,
.sidebar,
.layout-2 article {
  @extend .column-helper;
}
